In [13]:
#question1

In [ ]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Ajupo\\Downloads\\details.csv')

In [4]:
print("Data from csv file:")
print(df)

Data from csv file:
      Name  Age
0    Arjun   21
1   Sandra   21
2  Adwaith   22
3     Filu   23
4   Aleena   19

In [7]:
data = {
    'Marks' : [85, 99, 75],
    'Subject' : ['Maths', 'Science', 'Computer']
}

In [10]:
df = pd.DataFrame(data)

In [12]:
df.to_csv('C:\\Users\\Ajupo\\Downloads\\modified.csv', index=False)

In [14]:
#Question2

In [15]:
import pandas as pd
import numpy as np

In [16]:
sales_data = {
    'Q1': [10000, 15000, 75000],
    'Q2': [25000, 30000, 20000],
    'Q3': [50000, 10000, 8500],
    'Q4': [12000, 16000, 9000]
}

In [19]:
sales_df = pd.DataFrame(sales_data)
print("Sales Data:")
print(sales_df)

Sales Data:
      Q1     Q2     Q3     Q4
0  10000  25000  50000  12000
1  15000  30000  10000  16000
2  75000  20000   8500   9000

In [20]:
#Question 3

In [21]:
sales_performance = [
    {'South': 25000, 'North': 50000, 'East': 75000, 'West': 60000},
    {'South': 10000, 'North': 25000, 'East': 100000, 'West': 6000},
    {'South': 15000, 'North': 20000, 'East': 45000, 'West': 90000},
]

In [22]:
s_df = pd.DataFrame(sales_performance)
print("Zonal Sales performance:")
print(s_df)

Zonal Sales performance:
   South  North    East   West
0  25000  50000   75000  60000
1  10000  25000  100000   6000
2  15000  20000   45000  90000

In [23]:
#question -4

In [24]:
people_data = {
    'Name': ['Nivin', 'Nitara', 'Akshay'],
    'Age': [, 30, 35],
    'Weight': [70.5, 65.2, 80.0]
}